{% extends "base.html" %}

{% block title %}Edit home page{% endblock %}

{% block content %}
    <h3>Hello! On this page you can edit data presented on the main page.</h3>
    <form method="POST" action="." enctype="multipart/form-data" class="ajax-form">
        {% csrf_token %}

        {% include "hello/_home_fieldset.html" %}

        <div class="form-state"></div>

        <button class="btn btn-success" type="submit">Save form</button>
    </form>

    <div>
        <a href="{% url home %}" class="btn btn-link">Go back</a>
    </div>
{% endblock content %}

{% block js %}
    {{ block.super }}
    {{ form.media }}
    <script src="http://malsup.github.com/jquery.form.js"></script>
    <script type="text/javascript">
        jQuery('.ajax-form').on("submit", function (e) {
            var options = {
                target: jQuery("fieldset", jQuery(this)),
            };
            jQuery(this).ajaxSubmit(options);
            return false;
        });
    </script>
{% endblock %}
