{% extends "base.html" %}

{% block title %}Home page{% endblock %}

{% block content %}
    <h3>Hello! This is a Django Hello World Project.</h3>

    <table class="table">
        <tbody>
            <tr>
                <td>First name: </td>
                <td>{{ profile.first_name }}</td>
            </tr>
            <tr>
                <td>Last name: </td>
                <td>{{ profile.last_name }}</td>
            </tr>
            <tr>
                <td>Bio: </td>
                <td>{{ profile.bio|default:"-" }}</td>
            </tr>

            <tr>
                <td>Contacts: </td>
                <td>
                    {% for contact in contacts %}
                        {{ contact.get_contact_type_display }}: {{ contact.value }}
                        <br/>
                    {% endfor %}
                </td>
            </tr>

            <tr>
                <td>Additional contacts: </td>
                <td>{{ profile.contacts_additional|default:"-" }}</td>
            </tr>
        </tbody>
    </table>
{% endblock content %}
