{% extends "base.html" %}
{% load form_tags %}

{% block title %}Edit home page{% endblock %}

{% block content %}
    <h3>Hello! On this page you can edit data presented on the main page.</h3>
    <form method="POST" action=".">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-6">
                {% render_field form.first_name %}
                {% render_field form.last_name %}
                {% render_field form.birth_date %}
            </div>
            <div class="col-md-6">
                {% render_field form.email %}
                {% render_field form.skype %}
                {% render_field form.JID %}
                {% render_field form.contacts_additional %}
                {% render_field form.bio %}
            </div>
        </div>
        <button class="btn btn-success">Save form</button>
    </form>

    <div>
        <a href="{% url home %}" class="btn btn-link">Go back</a>
    </div>
{% endblock content %}
