{% extends "base.html" %}

{% block title %}Edit home page{% endblock %}

{% block content %}
    <h3>Hello! On this page you can edit data presented on the main page.</h3>
    <form method="POST" action="." enctype="multipart/form-data" class="ajax-form">
        {% csrf_token %}

        {% include "hello/_home_fieldset.html" %}

        <div class="form-state">
            Form not changed
        </div>
        <div>
            <button class="btn btn-success" type="submit">Save form</button>
        </div>
    </form>

    <div>
        <a href="{% url home %}" class="btn btn-link">Go back</a>
    </div>
{% endblock content %}

{% block js %}
    {{ block.super }}
    {{ form.media }}
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery.form/3.49/jquery.form.min.js"></script>
    <script type="text/javascript">
        var stateHolder = jQuery(".form-state");
        jQuery(document).on("change", '.ajax-form input, .ajax-form select, .ajax-form textarea', function (e) {
            stateHolder.text("Changes not saved");
        });

        jQuery('.ajax-form').on("submit", function (e) {


            var options = {
                target: jQuery("fieldset", jQuery(this)),
                beforeSubmit: function (formData, jqForm, options) {
                    jQuery("fieldset", jqForm).prop("disabled", true);
                    stateHolder.text("Submiting...");
                },
                success: function (responseText, statusText, xhr, $form) {
                    stateHolder.text("Changes saved!");
                    jQuery("fieldset", $form).prop("disabled", false);
                },
                error: function (responseText, statusText, xhr, $form) {
                    stateHolder.text("Changes not saved!");
                    jQuery("fieldset", $form).prop("disabled", false);
                },
            };
            jQuery(this).ajaxSubmit(options);
            return false;
        });
    </script>
{% endblock %}
